table {
   width: 500px;
   height: 500px;
   padding: 0;
   margin: 0;
   border: 1px solid #fff;
   table-layout: fixed;

   tbody {
      width: 100%;
      height: 100%;

      tr {
         width: 500px;
         height: 3/500px;
         table-layout: fixed;

         th {
            width: 33.33%;
            max-width: 500px / 3;
            height: 33.33%;
            max-height: 500px / 3;
            border: 1px solid #fff;
            font-size: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
         }
      }
   }
}