@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.AuthorizationBlock {
   width: 100%;
   height: 100vh;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgba(255, 255, 255, 0);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(2px);
   -webkit-backdrop-filter: blur(3px);

   body {
      background-image: url(../../assets/background/22631195_6630841.jpg);
      background-size: 100% 100%;
      background-size: cover;
      background-position: center;
   }


   .loginBlock {
      padding: 30px;
      display: block;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4.5px);
      border-radius: 30px;
      border: 1px solid rgba(255, 255, 255, 0.18);

      h2 {
         font-size: 10px;

         a {
            font-size: 13px;
         }

         a:hover {
            color: rgba(160, 108, 228, 0.66);
         }
      }

      form {
         display: block;
         width: 100%;
         height: 100%;
         margin: 0;
         padding: 0;
         text-align: center;
         color: #fff;
         font-size: 16px;
         font-family: 'Press Start 2P', system-ui;

         .formInside {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
               margin: 0;
               padding: 0 0 30px 0;
               font-size: 20px;
            }

            input {
               width: 91%;
               padding: 15px;
               margin: 5px;
               border-radius: 1px;
               border: 1px solid #ccc;
               font-family: inherit;
               font-size: 15px;
            }

            // input:hover {
            //    animation: pulse 1.5s infinite;
            // }

            button {
               width: 100%;
               padding: 15px;
               margin: 5px;
               border-radius: 1px;
               border: 1px solid #ccc;
               font-size: 15px;
               font-family: 'Press Start 2P', system-ui;
            }

            button:hover {
               animation: pulse 1.5s infinite;
            }
         }

         .passwordsDoNot::placeholder {
            color: red;
         }

         .passwordsDoNot {
            animation: shake ease-in-out;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            border: 1px solid rgba(255, 9, 9, 0.18);
         }
      }
   }

   @keyframes pulse {
      0% {
         background-color: #3498db59;
      }

      50% {
         background-color: #a33ce756;
      }

      100% {
         background-color: #3498db5d;
      }
   }
}

@keyframes shake {

   0%,
   100% {
      transform: translateX(0);
   }

   10%,
   30%,
   50%,
   70%,
   90% {
      transform: translateX(-5px);
   }

   20%,
   40%,
   60%,
   80% {
      transform: translateX(5px);
   }
}