body {
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: center;
   font-family: Arial, sans-serif;
}

.user-column {
   max-width: 300px;
   margin: 20px auto;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

h2 {
   text-align: center;
   color: #333;
}

ul {
   width: 100%;
   list-style-type: none;
   padding: 0;
}

li {
   padding: 8px;
   border-bottom: 1px solid #eee;

}

button {
   margin-top: 10px;
   width: 100%;
}

li:last-child {
   border-bottom: none;
}