<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/style_game.css">
   <title>Document</title>
</head>

<body>
   <div class="content">
      <div class="inform">
         <div class="timers">
            <h1>Timer</h1>
            <p id="timer">00:00:00</p>
         </div>
         <div class="inform_user">
            <h2 id="user">name</h2>
         </div>
      </div>

      <table class="table">
         <tbody class="tbody">
            <tr class="stroke">
               <th class="cell"></th>
               <th class=" cell"></th>
               <th class=" cell"></th>
            </tr>
            <tr class=" stroke">
               <th class="cell"></th>
               <th class=" cell"></th>
               <th class=" cell"></th>
            </tr>
            <tr class=" stroke">
               <th class="cell"></th>
               <th class=" cell"></th>
               <th class=" cell"></th>
            </tr>
         </tbody>
      </table>
   </div>
</body>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
<script src="/script/function/game.js"></script>
<script src="/script/function/timer.js"></script>
<script src="/script/function/function.js"></script>


</html>