<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/style_users.css" type="text/css">
   <title>Online Users</title>
</head>

<body>
   <div id="root_start_game"></div>
   <div class="user-column">
      <h2>Online Users</h2>
      <ul id="userList"></ul>
   </div>
   <!-- <ul id="events"></ul> -->
</body>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
<!-- <script src="/react/umd/react.development.js"></script> -->
<!-- <script src="/react-dom/umd/react-dom.development.js"></script> -->
<script src="/socket.io/socket.io.js"></script>
<script src="/babel.config.js"></script>
<script src="/script/GamePage.js"></script>
<script type="module" src="/script/users.js"></script>

</html>